
/*index html*/
body {
    background-color: #f5f7fa;
    font-family: 'Roboto', sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

#navigation {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixe;
    box-shadow: 0 4px 5px #8ab9de;
    padding: 0.4% 2%;
}

.nav__links {
    display: flex;
    justify-content: space-evenly;
    column-gap: 2rem;
    margin: 0;

}

.nav__links *, #sub-menu *{
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
}

#sub-menu{
    display: none;
    background-color: #fefefe;
    padding: 1% 0;
    margin: 1% 2%;
    float: right;
    border-radius: 5%;
    font-weight: lighter;
    width: 100%;
}

#sub-menu span {
    background-color: #cbdce7;
    border-radius: 50%;
}

#sub-menu li {
    transition: 0.3s;
}

#sub-menu li:hover {
    transform: translateX(5px);
}

.ri-heart-line, .ri-shopping-bag-line{
    cursor: pointer;
}

.ri-menu-line {
    display: none;
}



#hero__text {
    padding-left: 5%;
}

#hero__img {
    margin-top: 5%;
    border-radius: 5%;
    box-shadow: 0 0 25px #8ab9de;
}

#hero__text > h1 {
    font-family: 'Caprasimo', cursive;
    
}

.shop__btn {
    background-color: #1f212b;
    border: 0;
}


/*navigation and hero for mobile*/


/*show the menu on mobile*/

@media (max-width: 991px) {
    .nav__links {
        display: none;
    }

    .ri-menu-line {
        display: inline;
        cursor: pointer;
    }

    #hero__img__div {
        width: 80%;
        position: relative;
        left: 10%;
    }

    #hero__text {
        text-align: center;
        padding: 25px;
    }
    
    #sub-menu.clicked {
        display:block;
        position: sticky;
        z-index: 2;
    }

}